[user]
    name = Leandro Ostera
    email = leandro@ostera.io 

[github]
    user = ostera

[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    filemode = false
    trustctime = false

[alias]
    A = add -A
    ammend = commit --amend
    b = branch
    br = branch -r
    c = commit
    ca = commit -a
    cam = commit -am
    cm = commit -m
    co = checkout
    cob = checkout -b
    cod = checkout development
    com = checkout master
    d = diff
    d1 = diff HEAD^1
    dh = diff HEAD
    dm = diff master
    l = log --pretty=oneline --graph --abbrev-commit
    pall = push --all
    pod = push origin development
    pom = push origin master
    pou = push -u origin
    po = push origin
    ra = rebase --abort
    rc = rebase --continue
    rl = reflog
    s = status
    sl = shortlog
    t = tag
    unstage = reset --hard HEAD

[color]
    ui = auto

[color "branch"]
    current = green
    local = blue
    remote = yellow

[color "diff"]
    new = green
    old = red
    frag = magenta
    meta = blue

[color "status"]
    added = green bold
    removed = red
    changed = green
    untracked = cyan

[credential]
    helper = osxkeychain

[difftool]
    prompt = false

[mergetool]
    prompt = false

[push]
    default = simple

[diff]
    renames = copies

