[user]
	name = Leandro Ostera
	email = me@leostera.com

[github]
	user = leostera

[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	filemode = false
	trustctime = false

[alias]
	ammend = commit --amend
	c = commit
	ca = commit -a
	cam = commit -am
    cm = commit -m
	co = checkout
	cod = checkout development
    com = checkout master
    d = diff
    dh = diff HEAD
    pod = push origin development
	pom = push origin master
	s = status
	sl = shortlog
	unstage = reset --hard HEAD

[color]
	ui = auto

[credential]
	helper = osxkeychain

[difftool]
	prompt = false

[mergetool]
	prompt = false

[push]
	default = simple

[diff]
	renames = copies
	
	
