.sw*
home/.config/vim/bundle
home/.config/vim/plugged
home/.config/vim/vim
home/.config/vim/.netrwhist
home/.config/vim/undos
home/.config/vim/views
home/.config/tmux/tmux
home/.config/tmux/.search_options
home/.config/ssh/id_*
